.cd-loader {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
}

.cd-loader-circle {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 0.875em;
  height: 0.875em;
  margin: 0.0625em;
  border: 0.125em solid currentColor;
  border-radius: 1em;
  animation: cd-loader-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.cd-loader-circle-1 {
  animation-delay: -0.45s;
}

.cd-loader-circle-2 {
  animation-delay: -0.3s;
}

.cd-loader-circle-3 {
  animation-delay: -0.15s;
}

@keyframes cd-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
