.cd-input {
  --cd-input-border-width: var(--cd-control-border-width);
  --cd-input-border-radius: var(--cd-control-border-radius);
  --cd-input-border-color: var(--cd-color-border);
  --cd-input-border-color-error: var(--cd-color-error);
  --cd-input-border-color-focus: var(--cd-color-primary);
  --cd-input-border-color-success: var(--cd-color-success);
  --cd-input-border-color-warning: var(--cd-color-warning);
  --cd-input-bg-color-disabled: #eeeeee;
  --cd-input-text-color-disabled: #777777;
  --cd-input-font-size: var(--cd-font-size);
  --cd-input-font-size-small: var(--cd-font-size-small);
  --cd-input-font-size-large: var(--cd-font-size-large);
  --cd-input-height: var(--cd-control-height);
  --cd-input-height-small: var(--cd-control-height-small);
  --cd-input-height-large: var(--cd-control-height-large);
  --cd-input-icon-size: var(--cd-control-icon-size);
  --cd-input-icon-size-small: var(--cd-control-icon-size-small);
  --cd-input-icon-size-large: var(--cd-control-icon-size-large);
  --cd-input-outline-width: var(--cd-control-outline-width);
  --cd-input-padding: var(--cd-control-padding);
  --cd-input-padding-small: var(--cd-control-padding-small);
  --cd-input-padding-large: var(--cd-control-padding-large);

  display: inline-flex;
  gap: 4px;
  align-items: center;
  border: solid var(--cd-input-border-width) var(--cd-color-border);
  border-radius: var(--cd-input-border-radius);
  box-sizing: border-box;
  font-family: var(--cd-font-family);
  height: var(--cd-input-height);
  position: relative;
  transition: var(--cd-transition-duration) ease-out;
}

.cd-input:focus-within {
  border-color: var(--cd-input-border-color-focus);
  outline: var(--cd-input-outline-width) solid
    color-mix(in srgb, var(--cd-input-border-color-focus) 25%, transparent);
}

.cd-input-element {
  display: block;
  border: 0px;
  outline: none;
  background: transparent;
  padding-inline: var(--cd-input-padding);
  font-family: var(--cd-font-family);
  font-size: inherit;
}

/* Icons */

.cd-input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  height: 100%;
}

.cd-input-icon-end {
  inset-inline-end: var(--cd-input-padding);
}

/* Sizes */

.cd-input-small {
  font-size: var(--cd-input-font-size-small);
  height: var(--cd-input-height-small);
}

.cd-input-small .cd-input-element {
  padding-inline: var(--cd-input-padding-small);
}

.cd-input-small .cd-input-icon svg {
  font-size: var(--cd-input-icon-size-small);
  height: var(--cd-input-icon-size-small);
  width: var(--cd-input-icon-size-small);
}

.cd-input-medium {
  font-size: var(--cd-input-font-size);
  height: var(--cd-input-height);
}

.cd-input-medium .cd-input-element {
  padding-inline: var(--cd-input-padding);
}

.cd-input-medium .cd-input-icon svg {
  font-size: var(--cd-input-icon-size);
  height: var(--cd-input-icon-size);
  width: var(--cd-input-icon-size);
}

.cd-input-large {
  font-size: var(--cd-input-font-size-large);
  height: var(--cd-input-height-large);
}

.cd-input-large .cd-input-element {
  padding-inline: var(--cd-input-padding-large);
}

.cd-input-small .cd-input-icon svg {
  font-size: var(--cd-input-icon-size-small);
  height: var(--cd-input-icon-size-small);
  width: var(--cd-input-icon-size-small);
}

.cd-input-block {
  display: flex;
}

/* States */

.cd-input-error {
  border-color: var(--cd-input-border-color-error);
}

.cd-input-error:focus-within {
  border-color: var(--cd-input-border-color-error);
  outline-color: color-mix(in srgb, var(--cd-input-border-color-error) 25%, transparent);
}

.cd-input-success {
  border-color: var(--cd-input-border-color-success);
}

.cd-input-success:focus-within {
  border-color: var(--cd-input-border-color-success);
  outline-color: color-mix(in srgb, var(--cd-input-border-color-success) 25%, transparent);
}

.cd-input-warning {
  border-color: var(--cd-input-border-color-warning);
}

.cd-input-warning:focus-within {
  border-color: var(--cd-input-border-color-warning);
  outline-color: color-mix(in srgb, var(--cd-input-border-color-warning) 25%, transparent);
}

/* Disabled */

.cd-input-disabled {
  background-color: var(--cd-input-bg-color-disabled);
}

.cd-input-disabled .cd-input-element:disabled {
  color: var(--cd-input-text-color-disabled);
}

/* Preview */

.cd-input-preview {
  padding-inline: 0;
  border: 0;
}

.cd-input-preview:focus-within {
  outline: 0;
}

.cd-input-preview .cd-input-element {
  padding-inline: 0;
  border: 0;
}
