.cd-button {
  --cd-button-border-radius: 4px;
  --cd-button-border-width: 1px;
  --cd-button-border-color: #dddddd;
  --cd-button-gap: 4px;
  --cd-button-icon-size: var(--cd-control-icon-size);
  --cd-button-icon-size-small: var(--cd-control-icon-size-small);
  --cd-button-icon-size-large: var(--cd-control-icon-size-large);

  align-items: center;
  border-radius: var(--cd-button-border-radius);
  border-style: solid;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--cd-font-family);
  gap: 4px;
  justify-content: center;
}

.cd-button-block {
  display: flex;
}

.cd-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icons */

.cd-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Colors */

.cd-button-primary {
  --cd-button-main-color: var(--cd-color-primary);
  --cd-button-bg-color: #fff;
  --cd-button-fg-color: #fff;
}

.cd-button-secondary {
  --cd-button-main-color: var(--cd-color-secondary);
  --cd-button-bg-color: #fff;
  --cd-button-fg-color: #fff;
}

.cd-button-success {
  --cd-button-main-color: var(--cd-color-success);
  --cd-button-bg-color: #fff;
  --cd-button-fg-color: #fff;
}

.cd-button-warning {
  --cd-button-main-color: var(--cd-color-warning);
  --cd-button-bg-color: #fff;
  --cd-button-fg-color: #fff;
}

.cd-button-error {
  --cd-button-main-color: var(--cd-color-error);
  --cd-button-bg-color: #fff;
  --cd-button-fg-color: #fff;
}

.cd-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Variants */

.cd-button-line {
  background: var(--cd-button-bg-color);
  border-color: var(--cd-button-main-color);
  border-width: var(--cd-button-border-width);
  color: var(--cd-button-main-color);
}

.cd-button-line:not(:disabled):hover {
  background: color-mix(in srgb, var(--cd-color) 5%, var(--cd-button-bg-color));
}

.cd-button-line:not(:disabled):active {
  background: color-mix(in srgb, var(--cd-color) 20%, var(--cd-button-bg-color));
}

.cd-button-fill {
  background: var(--cd-button-main-color);
  border-width: 0;
  color: var(--cd-button-fg-color);
}

.cd-button-fill:not(:disabled):hover {
  background: color-mix(in srgb, #fff 20%, var(--cd-button-main-color));
}

.cd-button-fill:not(:disabled):active {
  background: color-mix(in srgb, #000 20%, var(--cd-button-main-color));
}

.cd-button-text {
  background: transparent;
  border: 0;
  color: var(--cd-button-main-color);
}

.cd-button-text:not(:disabled):hover {
  background: color-mix(in srgb, #000 5%, transparent);
}

.cd-button-text:not(:disabled):active {
  background: color-mix(in srgb, #000 10%, transparent);
}

.cd-button-normal.cd-button-line {
  background-color: var(--cd-color-fill);
  border-color: var(--cd-color-border);
  color: var(--cd-color-text);
}

.cd-button-normal.cd-button-text {
  color: var(--cd-color-text);
}

/* Sizes */

.cd-button-small {
  font-size: var(--cd-font-size-small);
  height: var(--cd-control-height-small);
  padding-inline: calc(var(--cd-control-padding-small) + var(--cd-button-border-width));
}

.cd-button-line.cd-button-small {
  padding-inline: var(--cd-control-padding-small);
}

.cd-button-small .cd-button-icon svg {
  font-size: var(--cd-button-icon-size-small);
}

.cd-button-medium {
  font-size: var(--cd-font-size);
  height: var(--cd-control-height);
  padding-inline: calc(var(--cd-control-padding) + var(--cd-button-border-width));
}

.cd-button-line.cd-button-medium {
  padding-inline: var(--cd-control-padding);
}

.cd-button-medium .cd-button-icon svg {
  font-size: var(--cd-button-icon-size);
}

.cd-button-large {
  font-size: var(--cd-font-size-large);
  height: var(--cd-control-height-large);
  padding-inline: calc(var(--cd-control-padding-large) + var(--cd-button-border-width));
}

.cd-button-line.cd-button-large {
  padding-inline: var(--cd-control-padding-large);
}

.cd-button-large .cd-button-icon svg {
  font-size: var(--cd-button-icon-size-large);
}
