.cd-button {
  --border-width: 1px;
  --border-radius: 4px;
  border: solid var(--border-width) var(--cd-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.cd-button-primary {
  --cd-color: var(--cd-color-primary);
  --bg-color: #fff;
  --fg-color: #fff;
}

.cd-button-secondary {
  --cd-color: var(--cd-color-secondary);
  --bg-color: #fff;
  --fg-color: #fff;
}

.cd-button-success {
  --cd-color: var(--cd-color-success);
  --bg-color: #fff;
  --fg-color: #fff;
}

.cd-button-warning {
  --cd-color: var(--cd-color-warning);
  --bg-color: #fff;
  --fg-color: #fff;
}

.cd-button-error {
  --cd-color: var(--cd-color-error);
  --bg-color: #fff;
  --fg-color: #fff;
}

.cd-button-outline {
  --border-width: 1px;
  background: var(--bg-color);
  color: var(--cd-color);
}

.cd-button-outline:hover {
  background: color-mix(in srgb, var(--cd-color) 5%, var(--bg-color));
}

.cd-button-outline:active {
  background: color-mix(in srgb, var(--cd-color) 20%, var(--bg-color));
}

.cd-button-solid {
  --border-width: 0px;
  background: var(--cd-color);
  color: var(--fg-color);
}

.cd-button-solid:hover {
  background: color-mix(in srgb, #fff 20%, var(--cd-color));
}

.cd-button-solid:active {
  background: color-mix(in srgb, #000 20%, var(--cd-color));
}

.cd-button-ghost {
  background: transparent;
  border: solid var(--border-width) var(--cd-color);
  color: var(--cd-color);
}

.cd-button-text {
  --border-width: 0px;
  background: transparent;
  color: var(--cd-color);
}

.cd-button-ghost:hover,
.cd-button-text:hover {
  background: color-mix(in srgb, #000 5%, transparent);
}

.cd-button-ghost:active,
.cd-button-text:active {
  background: color-mix(in srgb, #000 10%, transparent);
}

.cd-button-normal.cd-button-outline {
  background-color: var(--cd-color-fill);
  border: solid var(--border-width) var(--cd-color-border);
  color: var(--cd-color-text);
}

.cd-button-normal.cd-button-text {
  color: var(--cd-color-text);
}

.cd-button-small {
  font-size: var(--cd-font-size-small);
  height: var(--cd-control-height-small);
  padding-inline: calc(var(--cd-control-padding-small) - var(--border-width));
}

.cd-button-medium {
  font-size: var(--cd-font-size);
  height: var(--cd-control-height);
  padding-inline: calc(var(--cd-control-padding) - var(--border-width));
}

.cd-button-large {
  font-size: var(--cd-font-size-large);
  height: var(--cd-control-height-large);
  padding-inline: calc(var(--cd-control-padding-large) - var(--border-width));
}

.cd-button-block {
  display: flex;
}
