.cd-button {
  --border-width: 1px;
  --border-radius: 4px;
  background: var(--bg-color);
  border: solid var(--border-width) var(--color);
  border-radius: var(--border-radius);
  color: var(--color);
}

.cd-button-primary {
  --color: var(--color-primary);
  --bg-color: #fff;
  --fg-color: #fff;
}

.cd-button-secondary {
  --color: var(--color-secondary);
  --bg-color: #fff;
  --fg-color: #fff;
}

.cd-button-solid {
  background: var(--color);
  border: 0;
  color: var(--fg-color);
}

.cd-button-ghost {
  background: transparent;
  border: solid var(--border-width) var(--color);
  color: var(--color);
}

.cd-button-text {
  background: transparent;
  border: 0;
  color: var(--color);
}

.cd-button-normal.cd-button-outline {
  background-color: var(--color-fill);
  border: solid var(--border-width) var(--color-border);
  color: var(--color-text);
}

.cd-button-normal.cd-button-text {
  color: var(--color-text);
}

.cd-button-small {
  font-size: var(--font-size-small);
  height: var(--control-height-small);
  padding-inline: var(--control-padding-small);
}

.cd-button-medium {
  font-size: var(--font-size);
  height: var(--control-height);
  padding-inline: var(--control-padding);
}

.cd-button-large {
  font-size: var(--font-size-large);
  height: var(--control-height-large);
  padding-inline: var(--control-padding-large);
}
