:root {
  --cd-color-primary: #0066ff;
  --cd-color-secondary: #ff66cc;
  --cd-color-success: #469b09;
  --cd-color-warning: #ff8f00;
  --cd-color-error: #ff3300;
  --cd-color-border: #dcdcdc;
  --cd-color-text: #333333;

  --cd-font-family: Roboto;

  --cd-font-size: 14px;
  --cd-font-size-small: 12px;
  --cd-font-size-large: 16px;

  --cd-control-border-color: #dddddd;
  --cd-control-border-radius: 4px;
  --cd-control-border-width: 1px;

  --cd-control-icon-size: 16px;
  --cd-control-icon-size-small: 14px;
  --cd-control-icon-size-large: 20px;

  --cd-control-height: 30px;
  --cd-control-height-small: 24px;
  --cd-control-height-large: 36px;

  --cd-control-outline-width: 4px;

  --cd-control-padding: 8px;
  --cd-control-padding-small: 6px;
  --cd-control-padding-large: 12px;

  --cd-transition-duration: 0.3s;

  font-family: var(--cd-font-family);
}
