:root {
  --cd-color-primary: #0066ff;
  --cd-color-secondary: #ff66cc;
  --cd-color-success: #66cc00;
  --cd-color-warning: #ff6600;
  --cd-color-error: #ff3300;
  --cd-color-border: #dcdcdc;
  --cd-color-text: #333333;

  --cd-font-size: 14px;
  --cd-font-size-small: 12px;
  --cd-font-size-large: 16px;

  --cd-control-height: 30px;
  --cd-control-height-small: 24px;
  --cd-control-height-large: 36px;

  --cd-control-padding: 12px;
  --cd-control-padding-small: 8px;
  --cd-control-padding-large: 16px;
}
